<html>
    <body>
        <p>Hi {{name}},</p>
        <p>A login has been detected on your account at {{time}}</p>
        <p>Please reach out to our administrator if this action has not been done by you.</p>
    </body>
</html>